<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>websocket test</title>
</head>
<body>
    <h1>websocket test 2</h1>
    <h2>web chat</h2>

    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id="messages">

    </ul>
    <script>
        var ws = new WebSocket('ws://localhost:8000/ws');
        ws.onopen = function() {
            console.log('websocket is connected ...');
        }
        ws.onmessage = function(event) {
            console.log('message received: ' + event.data);
            var messages = document.getElementById('messages');
            var message = document.createElement('li');
            var content = document.createTextNode(event.data);
            message.appendChild(content);
            messages.appendChild(message);
        }
        function sendMessage(event) {
            event.preventDefault();
            var input = document.getElementById('messageText');
            ws.send(input.value);
            input.value = '';
            event.preventDefault();
        }
    </script>
</body>
</html>